body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.headSection{
    background-image: url(images/donation002.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 540px;
}
.secTion{
    
    padding: 30px 80px;

}
.headInnerSection{
    text-align: center;
    padding: 140px 160px;
}
#heroHeading {
    font-size: 60px;
    color: #fff;
    margin: 0;
    line-height: 71px;
    padding-bottom: 13px;
}
#heroText {
    margin: 0;
    color: #fff;
    font-weight: 300;
    padding:10px 120px 40px 120px;
}
.donateButton {
    margin-top:30px;
    color: #fff;
    text-decoration: none;
    background-color: #e85555;
    padding: 15px 30px;
    border: none;
}



#donationText{
    margin: 0;
    font-weight: 300;
    padding:10px 120px 40px 120px;
}
.donationSection {
    text-align: center;
    padding: 0 142px;
}
.velowSection {
    padding-bottom: 50px;
}
.donationVelow {
    padding: 23px 22px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    background-color: #d3d3d338;
    margin-right: 8px;
}
#colorVelow{
    color: red;
    border: 1px solid red;
    background-color: #FFEEEE;
}
input#otherVelue {
    border: none;
}
input#otherVelue {
    border: none;
    width: 60%;
    text-align: center;
    border-bottom: 1px solid #000;
    font-weight: 200;
    padding: 10px;
}
.donateCard{
    width: 100%;
    display: flex;
}
.singleCard{
    width: 33%;
    text-align: justify;
    padding: 30px 25px;
    font-size: 12px;
    font-weight:400;
    line-height: 15px;
}
.firstCard{
    background-color: #EDF5F6;
    margin-right: 10px;
}
.secondtCard{
    background-color: #FFEEEE;
    margin-right: 0 5px;
}
.thirdtCard{
    background-color: #FFF4D6;
    margin-left: 10px;
}
.contribute {
    display: flex;
    padding: 100px 180px;
}
.contributeText{
    width: 50%;
    padding: 34px;
}
.contributeText p {
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    padding-right: 50px;
}
.contributeText h1 {
    padding-right: 117px;
}
.contributeImage{
    width: 50%;
    padding-right: 54px;
}
.contributeImage img{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.subscribeSection {
    text-align: center;
    padding-bottom: 60px;
}
.subscriveText h1 {
    font-size: 42px;
}
.subscriveText p {
    font-size: 14px;
    font-weight: 300;
    padding: 0 393px;
}
.subscribeForm {
    background-color: #FFF4D6;
    width: 500px;
    height: 130px;
    margin: 0 auto;
    position: relative;
    top:20px;
}
.subscribeForm form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.emai {
    padding: 10px;
    border: none;
    width: 201px;
}
.subscribe {
    width: 100px;
    border: none;
    background-color: red;
    text-align: center;
    color: #fff;
}
footer {
    text-align: center;
    background-color: #000;
    color: red;
    padding: 20px;
}
footer h3{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
footer p {
    color: #fff;
    font-size: 12px;
}